/* Variables {{{ */
:root {
  /* Color Scheme */
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --current-line: #44475a;
  --background: #282a36;
  --transparent-background: #282a3677;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}
/* }}} */

/* Device sizes {{{ */
.show-xs{
  display: none;
}
@media(max-width: 500px){ 
  .show-xs{
    display: block;
  }
  .hide-xs{
    display: none;
  }
}

/* }}} */

/* Elements {{{ */

/* }}} */

/* Navbar {{{ */

.dropdown .icon {
  fill: white;
  width: 2em;
  height: 2em;
}

.nav-right {
  display: inline-flex;
  flex-direction: row-reverse;
}

.dropdown {
  position: relative;
}

.dropdown .content {
  display: none;
  background-color: black;
  position: absolute;
  right: 0;
  padding: 10px 0;
}

.dropdown:hover .content,
.dropdown:focus .content{
  display: flex;
  flex-direction: column;
  width: 12em;
}

.dropdown .content a {
  padding: .5em 1em;
  background-color: white;
}

.dropdown .content a:hover,
.dropdown .content a:focus-within{
  transition: 200ms;
}



/* }}} */

/* Container {{{ */

/* }}} */
