/* Variables {{{ */
:root {
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --current-line: #44475a;
  --background: #282a36;
  --transparent-background: #282a3677;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}
/* }}} */

/* Device sizes {{{ */

/* }}} */

/* Elements {{{ */
main {
  margin: 2em auto !important;
}
/* }}} */

/* Navbar {{{ */
.nav-right {
  text-align:right;
}
/* }}} */


.focus h1{
  text-align: center;
  margin: 0;
}

.focus p{
  text-align: left;
  text-indent: 1em;
}
